@model List<ExpenseViewModel>

<h5>Latest purchases</h5>


<table class="table">
    <tr>
        <th>Amount</th>
        <th>Date</th>
        <th>Description</th>
        <th>Category</th>
        <th></th>
        <th></th>
    </tr>

    @if (Model.Count < 11)
    {
            @foreach (var x in Model)
    {
        <tr>
            <th>@x.Amount €</th>
            <th>@x.ExpenseDate.ToShortDateString()</th>
            <th>@x.Description</th>
            <th>@x.CategoryName</th>
                <th><a href="Expense/edit?id=@x.ExpenseId" class="btn btn-dark">Edit</a> </th>
                <th><a href="Expense/delete?id=@x.ExpenseId" class="btn btn-dark">Delete</a></th>





            </tr>
            

        }
    } else
    {
        @for (var i = 0; i < 10; i++)
        {
            <tr>
                <th>@Model[i].Amount €</th>
                <th>@Model[i].ExpenseDate.ToShortDateString()</th>
                <th>@Model[i].Description</th>
                <th>@Model[i].CategoryName</th>
                <th><a href="Expense/edit?id=@Model[i].ExpenseId" class="btn btn-dark">Edit</a> </th>
                <th><a href="Expense/delete?id=@Model[i].ExpenseId" class="btn btn-dark">Delete</a></th>





            </tr>
        }

    }



</table>
@if (Model.Count > 10) {
    <button type="button" class="action-btn btn-dark mb-3 p-2 border-1" id="all">Show all</button>
}
<script>

    $(document).ready(function () {
        $("#all").click(function () {
            $.ajax({
                url: '@Url.Action("GetAllPurchases", "Expense")', // Adjust if your application is configured differently
                type: 'GET',
                success: function (data) {
                    $('#render-container').html(data);
                },
                error: function () {
                    alert("Error loading purchases.");
                }
            });
        });
    });



</script>
